@media (max-width: 768px) {
  #header-menu {
    display: block;
  }
  #header {
    display: none;
  }
}

@media (min-width: 768px) {
    #header-menu {
      display: none;
    }
    #header {
      display: block;
    }
  }

