@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "tw";
  src: local("tw"),
   url('./assets/fonts/tw.otf') format("opentype");
  }

body {
  margin: 0;
  font-family: "tw";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "tw";
}
